a {
  text-decoration: none;
  color: inherit; /* Mantém a cor do texto atual */
}
#containerBlog {
  background-image: linear-gradient(to right, #81a4eb, #4367ae);
  width: 100%;
  height: 100%;
  padding: 110px 20% 0px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", serif;
}
.contentBlog {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 40px;
}
.cardBlog {
  border: 1px solid #00000044;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: 0.5s;
  cursor: pointer;
}
.cardBlog:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 4px 4px #00000055;
}
.containerProfile {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.imageProfile {
  width: 40px;
  /* border: 2px solid red; */
}
.containerName {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  text-align: end;
}
.name {
  font-size: 16px;
}
.date {
  font-size: 11px;
  opacity: 0.5;
}
.containerContent {
  /* border: 2px solid red; */
  padding: 5px 10px;
}
.title {
  font-size: 22px;
  text-align: center;
  opacity: 0.8;
  text-transform: uppercase;
  padding: 10px;
}
.resume {
  text-align: justify;
}
hr {
  opacity: 0.5;
}
.containerInteraction {
  /* border: 2px solid red; */
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.views {
}
.btnLike {
  background-color: transparent;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnLike img {
  width: 20px;
  cursor: pointer;
}
.imageCard {
  width: 100%;
  height: auto;
}

.copyright {
  width: 100%;
  height: 32px;
  background-color: #232323;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 940px) and (max-width: 1024px) {
  #containerBlog {
    width: 100%;
    height: 100%;
    padding: 110px 10px 0px 10px;
  }
  .contentBlog {
    padding: 40px;
    display: flex;
    align-items: start;
  }
  .cardBlog {
    width: 400px;
  }
}
@media screen and (min-width: 769px) and (max-width: 939px) {
  #containerBlog {
    width: 100%;
    height: 100%;
    padding: 110px 10px 0px 10px;
  }
  .contentBlog {
    padding: 40px;
    display: flex;
    align-items: start;
  }
  .cardBlog {
    width: 100%;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  #containerBlog {
    width: 100%;
    height: 100%;
    padding: 110px 10px 0px 10px;
  }
  .contentBlog {
    padding: 40px;
    display: flex;
    align-items: start;
  }
  .cardBlog {
    width: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 425px) {
  #containerBlog {
    width: 100%;
    height: 100%;
    padding: 110px 5px 0px 5px;
  }

  .contentBlog {
    padding: 2px;
    display: flex;
    align-items: start;
    background-color: transparent;
  }
  .cardBlog {
    border: 0px solid #000000aa;
    box-shadow: 2px 2px 8px #00000066;
    width: 100%;
    background-color: white;
    border-radius: 5px;
  }
  .resume {
    text-align: justify;
    padding: 10px;
    text-align: center;
  }
  .imageCard {
    border-radius: 5px 5px 0px 0px;
  }

  .containerInteraction {
    display: none;
  }
  hr {
    display: none;
  }
}
