.principalBanner {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 180px 80px 80px 80px;
  background-color: #3f63ad;
  font-family: "Raleway", serif;
}

.mainContainer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0px 0px 8px 8px #00000022;
  padding: 100px 200px;
}

/* ============================= CONTAINER L ============================= */
.containerL {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  text-align: center;
  /* border: 2px solid red; */
}

.containerL h1 {
  text-align: start;
  font-size: 45px;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 800;
}

.containerL h1 span {
  color: #39599c;
}

.containerL p {
  font-size: 20px;
  text-align: start;
  opacity: 0.8;
}

.containerL a {
  text-decoration: none;
}

.containerL button {
  background-color: #3f63ad;
  color: #f8f8f8ee;
  font-size: 1.093rem;
  border: 0px solid #3f63ad;
  font-weight: 500;
  padding: 10px 50px;
  transition: 0.3s;
  border-radius: 2px;
}

.containerL button:hover {
  /* border-radius: 15px; */
  cursor: pointer;
  background-color: #4a3fad;
  transform: translateY(-3px);
  box-shadow: -1px 4px 3px 1px #00000044;
}

/* ============================= CONTAINER R ============================= */
.containerR {
  /* border: 2px solid rgb(0, 255, 89); */
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: end;
}

.containerR img {
  /* border: 2px solid red; */
  height: 100%;
  filter: drop-shadow(2px 2px 2px #00000088);
  transition: 0.5s;
  transform: scale(1.3) translateX(40px);
}

.containerR img:hover {
  transform: scale(1.4) translateX(40px);
  filter: drop-shadow(0px 9px 6px #00000088) contrast(1.1) brightness(1.1);
}

.containerR div {
  /* border: 2px solid rgb(212, 255, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  border-right: 2px solid #00000044;
  padding-right: 20px;
}

.namePrincipalBanner {
  font-size: 25px;
}

.containerR p {
  width: 100%;
  /* height: 10%; */
  opacity: 0.6;
  text-align: end;
}

@media (min-width: 280px) and (max-width: 320px) {
  .principalBanner {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0px 30px 0px;
  }

  .mainContainer {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    border-radius: 0;
    padding: 40px 10px;
  }

  /* ============================= CONTAINER L ============================= */
  .containerL {
    /* border: 2px solid rgb(0, 238, 255); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .containerL h1 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.9;
  }

  .containerL p {
    font-size: 15px;
    text-align: center;
  }

  .containerL button {
    padding: 10px 20px;
  }

  /* ============================= CONTAINER R ============================= */
  .containerR {
    /* border: 2px solid rgb(0, 255, 89); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }

  .containerR img {
    /* border: 2px solid red; */
    height: 80px;
    transform: scale(1.3) translateX(0px);
  }

  .containerR div {
    /* border: 2px solid rgb(212, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 100%;
    padding-right: 20px;
    font-size: 12px;
  }

  .namePrincipalBanner {
    font-size: 14px;
  }

  .containerR p {
    width: 100%;
    text-align: end;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  .principalBanner {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0px 30px 0px;
  }

  .mainContainer {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    border-radius: 0;
    padding: 40px 10px;
  }

  /* ============================= CONTAINER L ============================= */
  .containerL {
    /* border: 2px solid rgb(0, 238, 255); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .containerL h1 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.9;
  }

  .containerL p {
    font-size: 15px;
    text-align: center;
  }

  .containerL button {
    padding: 10px 20px;
  }

  /* ============================= CONTAINER R ============================= */
  .containerR {
    /* border: 2px solid rgb(0, 255, 89); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }

  .containerR img {
    /* border: 2px solid red; */
    height: 80px;
    transform: scale(1.3) translateX(0px);
  }

  .containerR div {
    /* border: 2px solid rgb(212, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 100%;
    padding-right: 20px;
    font-size: 12px;
  }

  .namePrincipalBanner {
    font-size: 14px;
  }

  .containerR p {
    width: 100%;
    text-align: end;
  }
}

@media (min-width: 361px) and (max-width: 390px) {
  .principalBanner {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 30px 0px;
  }

  .mainContainer {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    border-radius: 0;
    padding: 40px 10px;
  }

  /* ============================= CONTAINER L ============================= */
  .containerL {
    /* border: 2px solid rgb(0, 238, 255); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .containerL h1 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 0.9;
  }

  .containerL p {
    font-size: 15px;
    text-align: center;
  }

  .containerL button {
    padding: 10px 20px;
  }

  /* ============================= CONTAINER R ============================= */
  .containerR {
    /* border: 2px solid rgb(0, 255, 89); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }

  .containerR img {
    /* border: 2px solid red; */
    height: 80px;
    transform: scale(1.3) translateX(0px);
  }

  .containerR div {
    /* border: 2px solid rgb(212, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    height: 100%;
    padding-right: 20px;
    font-size: 12px;
  }

  .namePrincipalBanner {
    font-size: 14px;
  }

  .containerR p {
    width: 100%;
    text-align: end;
  }
}

@media (min-width: 391px) and (max-width: 420px) {
  .principalBanner {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 30px 0px;
  }

  .mainContainer {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    border-radius: 0;
    padding: 40px 25px;
  }

  /* ============================= CONTAINER L ============================= */
  .containerL {
    /* border: 2px solid rgb(0, 238, 255); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .containerL h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 0.9;
  }

  .containerL p {
    font-size: 17px;
    text-align: center;
  }

  /* ============================= CONTAINER R ============================= */
  .containerR {
    /* border: 2px solid rgb(0, 255, 89); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .containerR img {
    /* border: 2px solid red; */
    height: 150px;
    transform: scale(1.3) translateX(0px);
  }

  .containerR div {
    /* border: 2px solid rgb(212, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding-right: 20px;
    font-size: 14px;
  }

  .namePrincipalBanner {
    font-size: 15px;
  }

  .containerR p {
    width: 100%;
    text-align: end;
  }
}

@media (min-width: 421px) and (max-width: 480px) {
  .principalBanner {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 30px 0px;
  }

  .mainContainer {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    border-radius: 0;
    padding: 40px 25px;
  }

  /* ============================= CONTAINER L ============================= */
  .containerL {
    /* border: 2px solid rgb(0, 238, 255); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .containerL h1 {
    text-align: center;
    font-size: 2rem;
    line-height: 0.9;
  }

  .containerL p {
    font-size: 20px;
    text-align: center;
  }

  /* ============================= CONTAINER R ============================= */
  .containerR {
    /* border: 2px solid rgb(0, 255, 89); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .containerR img {
    /* border: 2px solid red; */
    height: 150px;
    transform: scale(1.3) translateX(0px);
  }

  .containerR div {
    /* border: 2px solid rgb(212, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding-right: 20px;
  }

  .namePrincipalBanner {
    font-size: 15px;
  }

  .containerR p {
    width: 100%;
    text-align: end;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .principalBanner {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 30px 30px 30px;
  }

  .mainContainer {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
    border-radius: 5;
    padding: 40px 25px;
  }

  /* ============================= CONTAINER L ============================= */
  .containerL {
    /* border: 2px solid rgb(0, 238, 255); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .containerL h1 {
    text-align: center;
    font-size: 2.2rem;
    line-height: 0.9;
  }

  .containerL p {
    font-size: 20px;
    text-align: center;
  }

  /* ============================= CONTAINER R ============================= */
  .containerR {
    /* border: 2px solid rgb(0, 255, 89); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .containerR img {
    /* border: 2px solid red; */
    height: 150px;
    transform: scale(1.3) translateX(0px);
  }

  .containerR div {
    /* border: 2px solid rgb(212, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding-right: 20px;
  }

  .namePrincipalBanner {
    font-size: 15px;
  }

  .containerR p {
    width: 100%;
    text-align: end;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .principalBanner {
    /* border: 1px solid red; */
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 30px 30px 30px;
  }

  .mainContainer {
    /* border: 1px solid rgb(0, 255, 55); */
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    border-radius: 5;
    padding: 40px 25px;
  }

  /* ============================= CONTAINER L ============================= */
  .containerL {
    /* border: 2px solid rgb(0, 238, 255); */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: -5px;
  }

  .containerL h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 0.9;
  }

  .containerL p {
    font-size: 20px;
    text-align: center;
  }

  /* ============================= CONTAINER R ============================= */
  .containerR {
    /* border: 2px solid rgb(0, 255, 89); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .containerR img {
    /* border: 2px solid red; */
    height: 150px;
    transform: scale(1.3) translateX(0px);
  }

  .containerR div {
    /* border: 2px solid rgb(212, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    padding-right: 20px;
  }

  .namePrincipalBanner {
    font-size: 15px;
  }

  .containerR p {
    width: 100%;
    text-align: end;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .principalBanner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 180px 80px 80px 80px;
    background-color: #3f63ad;
    font-family: "Raleway", serif;
  }

  .mainContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 8px #00000022;
    padding: 100px 100px;
  }

  /* ============================= CONTAINER L ============================= */
  .containerL {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    /* border: 2px solid red; */
  }

  .containerL h1 {
    text-align: start;
    font-size: 30px;
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: 800;
  }

  .containerL h1 span {
    color: #39599c;
  }

  .containerL p {
    font-size: 18px;
    text-align: start;
    opacity: 0.8;
  }

  .containerL a {
    text-decoration: none;
  }

  .containerL button {
    background-color: #3f63ad;
    color: #f8f8f8ee;
    font-size: 1.093rem;
    border: 0px solid #3f63ad;
    font-weight: 500;
    padding: 10px 50px;
    transition: 0.3s;
    border-radius: 2px;
  }

  .containerL button:hover {
    /* border-radius: 15px; */
    cursor: pointer;
    background-color: #4a3fad;
    transform: translateY(-3px);
    box-shadow: -1px 4px 3px 1px #00000044;
  }

  /* ============================= CONTAINER R ============================= */
  .containerR {
    /* border: 2px solid rgb(0, 255, 89); */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: end;
  }

  .containerR img {
    /* border: 2px solid red; */
    width: 200px;
    height: auto;
    filter: drop-shadow(2px 2px 2px #00000088);
    transition: 0.5s;
    transform: scale(1.3) translateX(10px);
  }

  .containerR img:hover {
    transform: scale(1.4) translateX(10px);
    filter: drop-shadow(0px 9px 6px #00000088) contrast(1.1) brightness(1.1);
  }

  .containerR div {
    /* border: 2px solid rgb(212, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    border-right: 2px solid #00000044;
    padding-right: 20px;
  }

  .namePrincipalBanner {
    font-size: 25px;
  }

  .containerR p {
    width: 100%;
    /* height: 10%; */
    opacity: 0.6;
    text-align: end;
  }
}
